In [42]:
import pandas as pd
import sqlite3

In [50]:
df = pd.read_csv(r'C:\Users\dutyf\OneDrive\Documents\DAB111_Python\Final Project\onlinefood.csv')
df.columns = ['Id','Age', 'Gender', 'Occupation','monthly_income', 'Latitude','Longitude', 'Output']

con = sqlite3.connect('onlinefood.db')

cursor = con.cursor()
# cursor.execute(create_table)

In [54]:
df

       Id  Age  Gender Occupation  monthly_income  Latitude  Longitude Output
0    1001   20  Female    Student       No Income   12.9766    77.5993    Yes
1    1002   24  Female    Student  Below Rs.10000   12.9770    77.5773    Yes
2    1003   22    Male    Student  Below Rs.10000   12.9551    77.6593    Yes
3    1004   22  Female    Student       No Income   12.9473    77.5616    Yes
4    1005   22    Male    Student  Below Rs.10000   12.9850    77.5533    Yes
..    ...  ...     ...        ...             ...       ...        ...    ...
383  1384   23  Female    Student       No Income   12.9766    77.5993    Yes
384  1385   23  Female    Student       No Income   12.9854    77.7081    Yes
385  1386   22  Female    Student       No Income   12.9850    77.5533    Yes
386  1387   23    Male    Student  Below Rs.10000   12.9770    77.5773    Yes
387  1388   23    Male    Student       No Income   12.8988    77.5764    Yes

[388 rows x 8 columns]

In [63]:
cursor.execute('''
             CREATE TABLE IF NOT EXISTS online_food(
             Id INT PRIMARY KEY,
             age INT,
             Gender STRING,
             occupation STRING,
             monthly_income STRING,
             latitude decimal,
             longitude decimal,
             output string
             );''')

In [62]:
cursor.execute('''DROP TABLE online_food''' )

In [64]:
df.to_sql('online_food', con, if_exists='append', index=False)

388

In [65]:
cursor.execute("SELECT * FROM online_food").fetchall()

[(1001, 20, 'Female', 'Student', 'No Income', 12.9766, 77.5993, 'Yes'),
 (1002, 24, 'Female', 'Student', 'Below Rs.10000', 12.977, 77.5773, 'Yes'),
 (1003, 22, 'Male', 'Student', 'Below Rs.10000', 12.9551, 77.6593, 'Yes'),
 (1004, 22, 'Female', 'Student', 'No Income', 12.9473, 77.5616, 'Yes'),
 (1005, 22, 'Male', 'Student', 'Below Rs.10000', 12.985, 77.5533, 'Yes'),
 (1006, 27, 'Female', 'Employee', 'More than 50000', 12.9299, 77.6848, 'Yes'),
 (1007, 22, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1008, 24, 'Female', 'Student', 'No Income', 12.9828, 77.6131, 'Yes'),
 (1009, 23, 'Female', 'Student', 'No Income', 12.9766, 77.5993, 'Yes'),
 (1010, 23, 'Female', 'Student', 'No Income', 12.9854, 77.7081, 'Yes'),
 (1011, 22, 'Female', 'Student', 'No Income', 12.985, 77.5533, 'Yes'),
 (1012, 23, 'Male', 'Student', 'Below Rs.10000', 12.977, 77.5773, 'Yes'),
 (1013, 23, 'Male', 'Student', 'No Income', 12.8988, 77.5764, 'Yes'),
 (1014, 21, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1015,
  23,
  'Female',
  'Self Employeed',
  '10001 to 25000',
  12.9438,
  77.5738,
  'Yes'),
 (1016, 24, 'Female', 'Student', 'No Income', 12.8893, 77.6399, 'Yes'),
 (1017, 28, 'Female', 'Employee', '25001 to 50000', 12.9783, 77.6408, 'Yes'),
 (1018, 23, 'Female', 'Student', 'No Income', 12.982, 77.6256, 'Yes'),
 (1019, 25, 'Male', 'Student', 'No Income', 12.8988, 77.5764, 'Yes'),
 (1020, 21, 'Female', 'Student', 'Below Rs.10000', 12.9783, 77.6408, 'Yes'),
 (1021, 24, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1022, 22, 'Male', 'Student', 'No Income', 13.0298, 77.6047, 'Yes'),
 (1023, 22, 'Female', 'Student', 'No Income', 12.9983, 77.6409, 'Yes'),
 (1024, 23, 'Male', 'Student', 'No Income', 12.9925, 77.5633, 'Yes'),
 (1025, 21, 'Male', 'Student', 'Below Rs.10000', 12.9306, 77.5434, 'Yes'),
 (1026, 25, 'Male', 'Student', 'No Income', 12.982, 77.6256, 'Yes'),
 (1027, 22, 'Female', 'Student', 'No Income', 12.9353, 77.5585, 'Yes'),
 (1028, 22, 'Male', 'Student', 'No Income', 12.9155, 77.5135, 'Yes'),
 (1029, 23, 'Female', 'Employee', '10001 to 25000', 12.9854, 77.7081, 'Yes'),
 (1030, 22, 'Male', 'Student', 'Below Rs.10000', 13.0019, 77.5713, 'Yes'),
 (1031, 22, 'Female', 'Employee', '10001 to 25000', 12.9698, 77.75, 'Yes'),
 (1032, 22, 'Male', 'Student', 'No Income', 12.9783, 77.6408, 'Yes'),
 (1033, 25, 'Male', 'Employee', 'More than 50000', 12.9261, 77.6221, 'Yes'),
 (1034, 22, 'Female', 'Student', '10001 to 25000', 12.985, 77.5533, 'Yes'),
 (1035, 22, 'Female', 'Student', 'No Income', 12.9119, 77.6446, 'Yes'),
 (1036, 25, 'Male', 'Student', '10001 to 25000', 12.9306, 77.5434, 'Yes'),
 (1037, 25, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'No'),
 (1038, 32, 'Female', 'House wife', 'No Income', 12.982, 77.6256, 'Yes'),
 (1039, 23, 'Female', 'Student', 'No Income', 12.9438, 77.5738, 'Yes'),
 (1040, 23, 'Female', 'Student', 'No Income', 12.8988, 77.5764, 'Yes'),
 (1041,
  30,
  'Male',
  'Self Employeed',
  'More than 50000',
  12.9662,
  77.6068,
  'Yes'),
 (1042, 23, 'Male', 'Student', 'No Income', 12.9565, 77.5484, 'Yes'),
 (1043, 23, 'Male', 'Student', 'No Income', 12.9925, 77.5633, 'Yes'),
 (1044, 22, 'Female', 'Student', 'No Income', 12.985, 77.5533, 'Yes'),
 (1045, 22, 'Male', 'Student', 'No Income', 12.985, 77.5533, 'Yes'),
 (1046,
  27,
  'Female',
  'Self Employeed',
  '10001 to 25000',
  12.9261,
  77.6221,
  'Yes'),
 (1047, 24, 'Female', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1048, 23, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1049, 23, 'Female', 'Student', 'No Income', 12.982, 77.6256, 'Yes'),
 (1050, 22, 'Female', 'Student', '10001 to 25000', 12.985, 77.5533, 'Yes'),
 (1051, 23, 'Female', 'Student', 'No Income', 13.0206, 77.6479, 'Yes'),
 (1052, 23, 'Female', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1053, 24, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1054, 25, 'Male', 'Student', 'No Income', 12.9635, 77.5821, 'Yes'),
 (1055, 22, 'Male', 'Student', 'No Income', 12.9306, 77.5434, 'Yes'),
 (1056, 28, 'Female', 'Student', 'No Income', 13.0067, 77.545, 'Yes'),
 (1057, 22, 'Female', 'Student', 'No Income', 12.8845, 77.6036, 'Yes'),
 (1058, 24, 'Female', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1059, 31, 'Male', 'Employee', 'More than 50000', 12.9119, 77.6446, 'Yes'),
 (1060, 25, 'Male', 'Student', 'No Income', 13.0067, 77.545, 'Yes'),
 (1061, 23, 'Male', 'Student', 'No Income', 12.8988, 77.5764, 'Yes'),
 (1062, 22, 'Male', 'Student', 'No Income', 12.8845, 77.6036, 'Yes'),
 (1063, 23, 'Male', 'Student', '25001 to 50000', 13.0158, 77.539, 'Yes'),
 (1064, 23, 'Male', 'Student', 'No Income', 12.9343, 77.6044, 'Yes'),
 (1065, 23, 'Female', 'Student', 'No Income', 13.0019, 77.5713, 'Yes'),
 (1066, 25, 'Male', 'Student', 'No Income', 13.0012, 77.5995, 'Yes'),
 (1067, 24, 'Male', 'Employee', '10001 to 25000', 12.9442, 77.6076, 'Yes'),
 (1068, 23, 'Female', 'Student', 'No Income', 13.0487, 77.5923, 'Yes'),
 (1069, 23, 'Female', 'Student', 'No Income', 13.0487, 77.5923, 'Yes'),
 (1070, 24, 'Female', 'Employee', 'More than 50000', 12.9438, 77.5738, 'Yes'),
 (1071, 22, 'Male', 'Student', 'No Income', 12.9889, 77.5741, 'Yes'),
 (1072, 24, 'Female', 'Student', '10001 to 25000', 12.9335, 77.5691, 'No'),
 (1073, 25, 'Female', 'Student', 'No Income', 12.9766, 77.5993, 'Yes'),
 (1074, 23, 'Male', 'Student', 'No Income', 12.8845, 77.6036, 'Yes'),
 (1075, 26, 'Male', 'Student', 'No Income', 13.0019, 77.5713, 'Yes'),
 (1076, 24, 'Female', 'Student', '25001 to 50000', 13.102, 77.5864, 'Yes'),
 (1077, 26, 'Male', 'Student', 'No Income', 12.9048, 77.6821, 'Yes'),
 (1078, 21, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1079, 22, 'Female', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1080, 24, 'Male', 'Student', 'No Income', 12.9337, 77.59, 'Yes'),
 (1081, 24, 'Male', 'Student', '10001 to 25000', 12.9037, 77.5376, 'Yes'),
 (1082, 23, 'Female', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1083, 23, 'Male', 'Student', 'No Income', 12.9343, 77.6044, 'Yes'),
 (1084, 22, 'Male', 'Student', 'No Income', 12.9438, 77.5738, 'Yes'),
 (1085, 23, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1086, 24, 'Female', 'Student', 'No Income', 12.9783, 77.6408, 'Yes'),
 (1087, 24, 'Male', 'Student', 'No Income', 12.9337, 77.59, 'Yes'),
 (1088, 25, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1089, 25, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'No'),
 (1090, 28, 'Male', 'Self Employeed', '10001 to 25000', 13.0289, 77.54, 'No'),
 (1091, 27, 'Female', 'Employee', '25001 to 50000', 13.0289, 77.54, 'No'),
 (1092, 26, 'Male', 'Self Employeed', '10001 to 25000', 12.9698, 77.75, 'No'),
 (1093, 22, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1094, 24, 'Female', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1095, 23, 'Male', 'Student', 'No Income', 12.9561, 77.5921, 'Yes'),
 (1096, 25, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1097, 23, 'Female', 'Student', 'No Income', 13.0206, 77.6479, 'Yes'),
 (1098, 23, 'Female', 'Student', 'No Income', 13.0206, 77.6479, 'Yes'),
 (1099, 26, 'Male', 'Employee', '25001 to 50000', 12.9579, 77.6309, 'No'),
 (1100, 32, 'Female', 'House wife', 'No Income', 13.014, 77.5658, 'No'),
 (1101, 24, 'Female', 'Student', '10001 to 25000', 12.9335, 77.5691, 'No'),
 (1102, 23, 'Male', 'Student', 'No Income', 12.9442, 77.6076, 'Yes'),
 (1103, 22, 'Female', 'Employee', '10001 to 25000', 12.9698, 77.75, 'Yes'),
 (1104, 24, 'Female', 'Student', 'No Income', 12.9438, 77.5738, 'Yes'),
 (1105, 26, 'Male', 'Employee', '25001 to 50000', 12.9261, 77.6221, 'Yes'),
 (1106, 28, 'Male', 'Employee', 'More than 50000', 12.9698, 77.75, 'No'),
 (1107, 26, 'Male', 'Employee', 'More than 50000', 12.9698, 77.75, 'No'),
 (1108, 25, 'Male', 'Student', 'No Income', 12.9343, 77.6044, 'Yes'),
 (1109, 25, 'Male', 'Employee', 'Below Rs.10000', 12.9698, 77.75, 'No'),
 (1110, 18, 'Male', 'Student', 'No Income', 12.9635, 77.5821, 'Yes'),
 (1111, 21, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1112, 25, 'Male', 'Student', 'No Income', 12.9343, 77.6044, 'Yes'),
 (1113, 25, 'Male', 'Student', 'Below Rs.10000', 12.9925, 77.5633, 'Yes'),
 (1114, 23, 'Female', 'Student', 'No Income', 13.0206, 77.6479, 'Yes'),
 (1115, 23, 'Male', 'Employee', '10001 to 25000', 12.985, 77.5533, 'Yes'),
 (1116, 25, 'Female', 'Employee', '25001 to 50000', 12.9551, 77.6593, 'No'),
 (1117, 31, 'Female', 'House wife', 'No Income', 13.0289, 77.54, 'Yes'),
 (1118,
  24,
  'Male',
  'Self Employeed',
  'More than 50000',
  13.0138,
  77.5877,
  'No'),
 (1119, 32, 'Female', 'Employee', '25001 to 50000', 12.9261, 77.6221, 'Yes'),
 (1120, 25, 'Male', 'Employee', '25001 to 50000', 12.9766, 77.5993, 'Yes'),
 (1121,
  27,
  'Female',
  'Self Employeed',
  'More than 50000',
  12.9766,
  77.5993,
  'No'),
 (1122,
  26,
  'Male',
  'Self Employeed',
  '25001 to 50000',
  12.9766,
  77.5993,
  'Yes'),
 (1123,
  26,
  'Female',
  'Self Employeed',
  '25001 to 50000',
  12.9635,
  77.5821,
  'Yes'),
 (1124, 32, 'Male', 'Employee', 'More than 50000', 12.9635, 77.5821, 'Yes'),
 (1125,
  24,
  'Male',
  'Self Employeed',
  'More than 50000',
  12.9635,
  77.5821,
  'No'),
 (1126,
  27,
  'Female',
  'Self Employeed',
  '25001 to 50000',
  12.9635,
  77.5821,
  'Yes'),
 (1127, 23, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1128, 25, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1129, 23, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1130, 23, 'Female', 'Student', 'No Income', 13.0487, 77.5923, 'Yes'),
 (1131, 28, 'Male', 'Employee', 'More than 50000', 13.0019, 77.5713, 'Yes'),
 (1132, 32, 'Female', 'Employee', 'More than 50000', 13.0019, 77.5713, 'No'),
 (1133, 23, 'Male', 'Student', 'No Income', 13.0019, 77.5713, 'Yes'),
 (1134, 19, 'Male', 'Student', 'No Income', 13.0019, 77.5713, 'No'),
 (1135, 19, 'Female', 'Student', 'No Income', 12.9537, 77.6176, 'Yes'),
 (1136, 27, 'Female', 'Employee', '25001 to 50000', 12.9698, 77.75, 'No'),
 (1137,
  25,
  'Male',
  'Self Employeed',
  '25001 to 50000',
  12.998,
  77.6227,
  'Yes'),
 (1138, 33, 'Male', 'Employee', 'More than 50000', 12.998, 77.6227, 'No'),
 (1139, 26, 'Female', 'Employee', 'More than 50000', 12.998, 77.6227, 'Yes'),
 (1140, 22, 'Female', 'Student', 'Below Rs.10000', 12.9343, 77.6044, 'Yes'),
 (1141, 23, 'Male', 'Student', 'No Income', 13.102, 77.5864, 'No'),
 (1142, 22, 'Female', 'Student', 'No Income', 13.0158, 77.539, 'Yes'),
 (1143, 25, 'Male', 'Employee', '25001 to 50000', 12.998, 77.6227, 'Yes'),
 (1144, 30, 'Female', 'House wife', 'No Income', 12.998, 77.6227, 'Yes'),
 (1145, 24, 'Male', 'Student', 'No Income', 13.0138, 77.5877, 'No'),
 (1146, 25, 'Male', 'Employee', '10001 to 25000', 13.0138, 77.5877, 'Yes'),
 (1147, 23, 'Male', 'Student', 'More than 50000', 12.977, 77.5773, 'Yes'),
 (1148, 24, 'Female', 'Student', 'No Income', 13.0496, 77.4941, 'Yes'),
 (1149, 32, 'Male', 'Employee', '10001 to 25000', 12.9783, 77.6408, 'Yes'),
 (1150, 22, 'Male', 'Student', 'No Income', 12.9889, 77.5741, 'Yes'),
 (1151, 23, 'Male', 'Student', 'More than 50000', 12.977, 77.5773, 'Yes'),
 (1152, 23, 'Female', 'Student', 'No Income', 13.0487, 77.5923, 'Yes'),
 (1153, 20, 'Male', 'Student', 'No Income', 12.9579, 77.6309, 'Yes'),
 (1154, 21, 'Male', 'Student', 'No Income', 12.9579, 77.6309, 'Yes'),
 (1155,
  24,
  'Female',
  'Self Employeed',
  '10001 to 25000',
  12.9579,
  77.6309,
  'Yes'),
 (1156, 23, 'Female', 'Student', 'No Income', 13.0487, 77.5923, 'Yes'),
 (1157, 25, 'Male', 'Employee', '25001 to 50000', 12.985, 77.5533, 'Yes'),
 (1158, 32, 'Female', 'House wife', 'No Income', 12.985, 77.5533, 'Yes'),
 (1159, 27, 'Male', 'Employee', 'More than 50000', 12.985, 77.5533, 'No'),
 (1160, 20, 'Female', 'Student', 'No Income', 12.9337, 77.59, 'Yes'),
 (1161, 21, 'Male', 'Student', 'No Income', 12.9337, 77.59, 'Yes'),
 (1162, 26, 'Male', 'Employee', 'More than 50000', 12.9337, 77.59, 'No'),
 (1163, 25, 'Male', 'Employee', '10001 to 25000', 13.0166, 77.6804, 'Yes'),
 (1164, 26, 'Male', 'Employee', '25001 to 50000', 13.014, 77.5658, 'Yes'),
 (1165, 26, 'Female', 'Employee', '25001 to 50000', 13.014, 77.5658, 'Yes'),
 (1166, 27, 'Male', 'Employee', 'More than 50000', 13.0503, 77.5529, 'No'),
 (1167, 27, 'Female', 'Student', 'No Income', 13.0503, 77.5529, 'No'),
 (1168, 24, 'Female', 'Student', 'No Income', 12.9883, 77.5987, 'Yes'),
 (1169,
  25,
  'Male',
  'Self Employeed',
  'More than 50000',
  13.0626,
  77.5284,
  'Yes'),
 (1170, 20, 'Male', 'Student', 'No Income', 13.0626, 77.5284, 'No'),
 (1171, 22, 'Male', 'Student', 'No Income', 13.0626, 77.5284, 'Yes'),
 (1172, 26, 'Female', 'Student', 'Below Rs.10000', 13.0166, 77.6804, 'Yes'),
 (1173, 27, 'Male', 'Employee', '25001 to 50000', 13.0166, 77.6804, 'Yes'),
 (1174, 25, 'Female', 'Student', 'No Income', 12.9551, 77.6593, 'Yes'),
 (1175, 24, 'Male', 'Employee', 'Below Rs.10000', 12.9551, 77.6593, 'Yes'),
 (1176, 23, 'Female', 'Employee', '10001 to 25000', 12.9551, 77.6593, 'Yes'),
 (1177, 22, 'Male', 'Student', 'No Income', 12.957, 77.5637, 'No'),
 (1178,
  26,
  'Male',
  'Self Employeed',
  'More than 50000',
  12.957,
  77.5637,
  'No'),
 (1179, 26, 'Male', 'Employee', 'Below Rs.10000', 12.957, 77.5637, 'Yes'),
 (1180,
  25,
  'Female',
  'Self Employeed',
  '25001 to 50000',
  12.957,
  77.5637,
  'No'),
 (1181, 29, 'Female', 'Employee', 'More than 50000', 12.957, 77.5637, 'No'),
 (1182, 23, 'Male', 'Student', 'Below Rs.10000', 12.8652, 77.524, 'Yes'),
 (1183, 22, 'Female', 'Employee', '25001 to 50000', 12.9698, 77.75, 'Yes'),
 (1184, 22, 'Male', 'Student', 'No Income', 12.9889, 77.5741, 'No'),
 (1185, 32, 'Female', 'House wife', 'No Income', 12.9889, 77.5741, 'Yes'),
 (1186, 28, 'Male', 'Employee', 'More than 50000', 12.9925, 77.5633, 'Yes'),
 (1187, 22, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1188, 25, 'Male', 'Employee', '10001 to 25000', 12.9757, 77.5586, 'Yes'),
 (1189, 26, 'Female', 'Employee', '25001 to 50000', 12.9757, 77.5586, 'No'),
 (1190,
  31,
  'Male',
  'Self Employeed',
  'More than 50000',
  13.0487,
  77.5923,
  'Yes'),
 (1191, 24, 'Male', 'Student', 'No Income', 13.0487, 77.5923, 'No'),
 (1192, 24, 'Male', 'Employee', '25001 to 50000', 12.9662, 77.6068, 'Yes'),
 (1193, 31, 'Female', 'Employee', 'More than 50000', 12.9662, 77.6068, 'Yes'),
 (1194, 26, 'Male', 'Employee', '25001 to 50000', 12.9343, 77.6044, 'Yes'),
 (1195,
  24,
  'Female',
  'Self Employeed',
  'More than 50000',
  12.9343,
  77.6044,
  'Yes'),
 (1196, 22, 'Female', 'Student', 'No Income', 12.9343, 77.6044, 'Yes'),
 (1197, 19, 'Male', 'Student', 'No Income', 12.9442, 77.6076, 'Yes'),
 (1198, 25, 'Male', 'Employee', 'More than 50000', 12.9442, 77.6076, 'Yes'),
 (1199, 23, 'Female', 'House wife', 'No Income', 12.9442, 77.6076, 'Yes'),
 (1200, 23, 'Female', 'Student', 'No Income', 13.0298, 77.6047, 'No'),
 (1201, 23, 'Male', 'Student', 'No Income', 12.9261, 77.6221, 'Yes'),
 (1202, 24, 'Male', 'Student', 'No Income', 12.9621, 77.5376, 'Yes'),
 (1203, 22, 'Female', 'Employee', '25001 to 50000', 12.8845, 77.6036, 'Yes'),
 (1204, 26, 'Male', 'Employee', 'More than 50000', 12.9048, 77.6821, 'Yes'),
 (1205, 25, 'Female', 'Student', 'No Income', 12.9048, 77.6821, 'Yes'),
 (1206, 20, 'Male', 'Student', 'No Income', 12.9261, 77.6221, 'Yes'),
 (1207, 29, 'Male', 'Employee', '25001 to 50000', 12.9261, 77.6221, 'No'),
 (1208, 23, 'Female', 'Student', 'No Income', 12.977, 77.5773, 'Yes'),
 (1209,
  25,
  'Male',
  'Self Employeed',
  'More than 50000',
  12.9783,
  77.6408,
  'Yes'),
 (1210, 29, 'Female', 'Employee', '25001 to 50000', 12.9783, 77.6408, 'No'),
 (1211,
  27,
  'Male',
  'Self Employeed',
  '25001 to 50000',
  12.9217,
  77.5936,
  'No'),
 (1212,
  25,
  'Male',
  'Self Employeed',
  '10001 to 25000',
  13.0206,
  77.6479,
  'Yes'),
 (1213, 21, 'Male', 'Student', 'No Income', 13.0012, 77.5995, 'No'),
 (1214, 23, 'Male', 'Student', 'No Income', 13.0223, 77.7132, 'Yes'),
 (1215, 24, 'Female', 'Employee', '10001 to 25000', 12.9337, 77.59, 'Yes'),
 (1216,
  32,
  'Male',
  'Self Employeed',
  '10001 to 25000',
  12.982,
  77.6256,
  'Yes'),
 (1217, 28, 'Male', 'Employee', '25001 to 50000', 13.0262, 77.62, 'Yes'),
 (1218, 26, 'Male', 'Employee', '10001 to 25000', 12.9217, 77.5936, 'No'),
 (1219, 31, 'Female', 'House wife', 'No Income', 13.0078, 77.5577, 'Yes'),
 (1220,
  27,
  'Female',
  'Self Employeed',
  '25001 to 50000',
  13.0078,
  77.5577,
  'Yes'),
 (1221, 21, 'Female', 'Student', 'No Income', 12.9217, 77.5936, 'Yes'),
 (1222, 23, 'Female', 'Student', 'No Income', 12.9105, 77.4842, 'No'),
 (1223, 26, 'Male', 'Employee', '10001 to 25000', 12.9105, 77.4842, 'No'),
 (1224, 32, 'Male', 'Employee', 'More than 50000', 12.9037, 77.5376, 'Yes'),
 (1225, 25, 'Female', 'Student', 'No Income', 12.8834, 77.5486, 'Yes'),
 (1226,
  28,
  'Male',
  'Self Employeed',
  '10001 to 25000',
  12.9149,
  77.5635,
  'Yes'),
 (1227, 21, 'Female', 'Student', 'No Income', 12.9149, 77.5635, 'Yes'),
 (1228, 24, 'Male', 'Student', 'No Income', 12.9706, 77.6529, 'Yes'),
 (1229,
  26,
  'Female',
  'Self Employeed',
  '10001 to 25000',
  12.9706,
  77.6529,
  'No'),
 (1230, 32, 'Male', 'Employee', '25001 to 50000', 12.9706, 77.6529, 'Yes'),
 (1231,
  29,
  'Male',
  'Self Employeed',
  'More than 50000',
  12.8845,
  77.6036,
  'Yes'),
 (1232, 21, 'Male', 'Student', 'No Income', 12.9783, 77.6408, 'Yes'),
 (1233,
  24,
  'Female',
  'Self Employeed',
  '25001 to 50000',
  13.0103,
  77.5796,
  'No'),
 (1234,
  26,
  'Male',
  'Self Employeed',
  'More than 50000',
  13.0103,
  77.5796,
  'Yes'),
 (1235, 25, 'Male', 'Employee', 'More than 50000', 12.9306, 77.5434, 'Yes'),
 (1236, 29, 'Male', 'Employee', '25001 to 50000', 13.0641, 77.5931, 'No'),
 (1237, 22, 'Male', 'Student', 'No Income', 13.0158, 77.539, 'Yes'),
 (1238, 24, 'Male', 'Student', 'No Income', 12.9561, 77.5921, 'Yes'),
 (1239, 27, 'Male', 'Employee', '25001 to 50000', 12.8845, 77.6036, 'Yes'),
 (1240, 23, 'Female', 'Student', 'No Income', 12.9369, 77.6407, 'No'),
 (1241, 32, 'Male', 'Employee', 'More than 50000', 12.9369, 77.6407, 'Yes'),
 (1242, 22, 'Female', 'Student', 'No Income', 12.9369, 77.6407, 'Yes'),
 (1243, 28, 'Male', 'Employee', '25001 to 50000', 12.9369, 77.6407, 'Yes'),
 (1244, 23, 'Female', 'Student', 'No Income', 13.0158, 77.539, 'Yes'),
 (1245,
  30,
  'Male',
  'Self Employeed',
  'More than 50000',
  13.0809,
  77.5565,
  'No'),
 (1246, 21, 'Male', 'Student', 'No Income', 13.0641, 77.5931, 'Yes'),
 (1247, 26, 'Female', 'Employee', 'Below Rs.10000', 12.9859, 77.6713, 'No'),
 (1248,
  25,
  'Male',
  'Self Employeed',
  'More than 50000',
  12.9859,
  77.6713,
  'Yes'),
 (1249, 31, 'Male', 'Employee', 'Below Rs.10000', 12.9866, 77.4904, 'No'),
 (1250, 23, 'Female', 'Employee', '25001 to 50000', 12.9847, 77.5491, 'Yes'),
 (1251, 29, 'Female', 'Employee', '25001 to 50000', 12.9847, 77.5491, 'Yes'),
 (1252, 21, 'Male', 'Student', 'No Income', 12.9847, 77.5491, 'Yes'),
 (1253, 20, 'Male', 'Student', 'No Income', 12.9299, 77.6848, 'Yes'),
 (1254, 22, 'Male', 'Employee', '10001 to 25000', 12.9299, 77.6848, 'Yes'),
 (1255, 30, 'Female', 'House wife', 'No Income', 12.9828, 77.6131, 'No'),
 (1256,
  27,
  'Male',
  'Self Employeed',
  'More than 50000',
  12.989,
  77.5332,
  'Yes'),
 (1257, 23, 'Male', 'Student', 'No Income', 12.977, 77.5773, 'No'),
 (1258,
  30,
  'Male',
  'Self Employeed',
  '25001 to 50000',
  12.9251,
  77.4992,
  'No'),
 (1259, 23, 'Male', 'Student', 'No Income', 12.9967, 77.7582, 'Yes'),
 (1260, 28, 'Female', 'Employee', '25001 to 50000', 12.9967, 77.7582, 'No'),
 (1261,
  30,
  'Male',
  'Self Employeed',
  'More than 50000',
  12.9967,
  77.7582,
  'Yes'),
 (1262, 24, 'Female', 'Employee', '25001 to 50000', 12.957, 77.5637, 'Yes'),
 (1263, 21, 'Male', 'Student', 'No Income', 12.957, 77.5637, 'No'),
 (1264, 23, 'Female', 'Employee', '10001 to 25000', 12.9889, 77.5741, 'No'),
 (1265,
  25,
  'Male',

In [49]:
con.commit()
con.close()